.caixa_roxa{
    border: 3px solid #361145;
    
    width:550px;
}

.paragrafo{
    color:blueviolet
}

.caixa_verde{
    border:4px dashed #173917;

}

.paragrafo2{
    background-color: rgb(57, 90, 57);
    color:rgb(255, 255, 255);
}

.caixa_azul{
    border: 3px solid #264f7b;
}

.caixa_laranja{
    border: 5px dashed #D15A1A;

}
  
.paragrafo3{
    background-color:rgb(98, 127, 165);
    color:rgb(16, 29, 41);
}

.paragrafo4{
    color:orangered;
}
    